{% extends 'base.html' %}

{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock header %}
    


{% block content %}
<div class="container mt-4 mb-5">        
    <h3 class="text-center gave">featured Product</h3>
        <div class="row justify-center-center">
            {% if category %} 
                {% for items in category  %}
                    <div class="col-10 col-sm-10 col-md-6 col-lg-3">
                        <div class="card">
                            <img src="({ items.img.url })" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ items.name }}</h4>
                                <p class="card-text">
                                    {{ items.description}}
                                </p>
                                <a href="{% url 'product_category' items.slug %}" class="btn btn-primary">Learn more</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}  
            {% endif %}
        </div>
</div>

{% endblock content %}


{% block contact %}
    {% include 'contact.html' %}
{% endblock contact %}
    
    


{% block carousel %}
    {% include 'carousel.html' %}
{% endblock carousel %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
    